html{
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
}

.resolucion {
  display: flex;
  flex-wrap: wrap;
  /* min-width: 250px; */
}

.desktop{
  flex: 1;
  min-width: 250px;
  
}

.movi:first-child {
  flex: 2;
  margin-bottom: 0px;
}


